.section-header {
  padding-top: 0; }

.aboutMe {
  margin-top: -8.9%;
  color: #373E42;
  display: table; }
  .aboutMe-info, .aboutMe-skills {
    display: table-cell;
    width: 50%;
    padding-top: 8.8%;
    background-repeat: no-repeat;
    vertical-align: top; }
  .aboutMe-info {
    background-image: url("../img/icons/about_bg_left1.svg");
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 25px; }
    .aboutMe-info__photo {
      margin-bottom: 15px; }
    .aboutMe-info__head {
      max-width: 300px;
      padding-top: 20px;
      font: 35px/41px sansus_webissimoregular;
      text-transform: uppercase;
      margin: auto;
      text-align: center;
      color: #373E42; }
    .aboutMe-info__head:after {
      content: "";
      display: block;
      margin: 14px auto 20px;
      width: 90px;
      height: 3px;
      background-color: #373E42; }
    @media screen and (max-width: 1200px) {
      .aboutMe-info__head {
        font: 30px/36px sansus_webissimoregular; } }
    .aboutMe-info__head:after {
      content: "";
      display: block;
      margin: 5px auto 15px;
      width: 90px;
      height: 3px;
      background-color: #373E42; }
  .aboutMe-skills {
    background-image: url("../img/icons/about_bg_right1.svg");
    background-position: right top;
    background-size: cover;
    padding-left: 25px;
    padding-right: 25px; }
    .aboutMe-skills__head {
      max-width: 300px;
      padding-top: 20px;
      font: 35px/41px sansus_webissimoregular;
      text-transform: uppercase;
      margin: auto;
      text-align: center;
      color: #373E42; }
    .aboutMe-skills__head:after {
      content: "";
      display: block;
      margin: 14px auto 20px;
      width: 90px;
      height: 3px;
      background-color: #373E42; }
    @media screen and (max-width: 1200px) {
      .aboutMe-skills__head {
        font: 30px/36px sansus_webissimoregular; } }
    .aboutMe-skills__head:after {
      content: "";
      display: block;
      margin: 5px auto 15px;
      width: 90px;
      height: 3px;
      background-color: #373E42; }
    .aboutMe-skills__progress {
      font-size: 28px;
      font-family: robotomedium; }
    .aboutMe-skills__list-outer {
      margin: 50px 0; }
    .aboutMe-skills__item-outer {
      margin-bottom: 35px; }
    .aboutMe-skills__item-inner {
      display: inline-block;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #DFDCD5;
      color: #6C9C5A;
      margin: 10px;
      padding: 20px;
      font-size: 13px;
      text-align: center;
      vertical-align: bottom; }
    .aboutMe-skills__tech-wrap {
      display: block;
      position: relative;
      width: 70px;
      height: 70px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      vertical-align: middle;
      background-color: #F4F5F0; }
    .aboutMe-skills__tech {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.about-contacts {
  height: 980px;
  background-color: #6C9C5A; }
  .about-contacts__wrap {
    height: 800px;
    position: relative;
    color: #373E42; }
  .about-contacts__data {
    background-color: rgba(244, 245, 240, 0.85);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    max-width: 380px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .about-contacts__head {
    max-width: 300px;
    padding-top: 20px;
    font: 35px/41px sansus_webissimoregular;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    color: #373E42; }
  .about-contacts__head:after {
    content: "";
    display: block;
    margin: 14px auto 20px;
    width: 90px;
    height: 3px;
    background-color: #373E42; }
  @media screen and (max-width: 1200px) {
    .about-contacts__head {
      font: 30px/36px sansus_webissimoregular; } }
  .about-contacts__head:after {
    content: "";
    display: block;
    margin: 5px auto 15px;
    width: 90px;
    height: 3px;
    background-color: #373E42; }
  .about-contacts__item {
    marghi-bottom: 30px; }
  .about-contacts__link {
    display: block;
    color: #373E42;
    padding: 10px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 16px;
    font-family: robotomedium; }
  .about-contacts__skype {
    background-image: url("../img/icons/skype.svg"); }
  .about-contacts__email {
    background-image: url("../img/icons/envelope.svg"); }
  .about-contacts__phone {
    background-image: url("../img/icons/phone.svg"); }
  .about-contacts__address {
    background-image: url("../img/icons/map_marker.svg"); }

iframe {
  width: 100%;
  height: 100%; }

@media screen and (max-width: 1200px) {
  .contact-block,
  .autorize-block,
  .welcome-block {
    width: 348px; }
    .contact-block__nav-menu-link,
    .autorize-block__nav-menu-link,
    .welcome-block__nav-menu-link {
      padding: 0 25px; }
  .main-works {
    margin: 0 auto -280px; }
    .main-works:after {
      height: 275px; }
  .section-header {
    font-size: 47px; }
  .section-header:after {
    content: "";
    display: block;
    margin: 5px auto 20px;
    width: 90px;
    height: 3px;
    background-color: #373E42; }
  .myWorks__header {
    max-width: 520px; }
  .descr-part,
  .vision-part,
  .navigation-part {
    width: 100%;
    float: none; }
  .descr-part {
    height: 275px; }
    .descr-part__head {
      font-size: 30px; }
    .descr-part__head:after {
      content: "";
      display: block;
      margin: 15px auto 20px;
      width: 90px;
      height: 3px;
      background-color: #566358; }
    .descr-part__descr {
      margin-bottom: 40px; }
  .footer__cite {
    display: block; }
  .footer__info {
    min-height: 240px; }
  .footer__links {
    display: inline-block;
    width: 50%; }
  .footer__descr {
    display: inline-block;
    width: 50%; }
  .footer__cite {
    clear: both;
    width: 100%; }
  .aboutMe {
    margin-top: -8.5%;
    background-image: url("../img/icons/bg1.svg");
    background-size: 101%;
    padding-top: 8.5%;
    background-repeat: no-repeat; }
    .aboutMe-info, .aboutMe-skills {
      display: block;
      width: 100%;
      background-image: none;
      padding-top: 30px; }
    .aboutMe-info {
      background-color: #E9EFE2;
      padding-left: 145px;
      padding-right: 145px; }
    .aboutMe-skills {
      background-color: #F4F5F0;
      padding-left: 100px;
      padding-right: 100px; }
      .aboutMe-skills__text {
        padding: 0 45px; }
      .aboutMe-skills__progress {
        text-align: center; }
  .about-contacts {
    height: 900px; }
    .about-contacts__wrap {
      height: 630px; }
  .sidebar {
    float: none;
    height: 100%;
    width: 280px;
    background-color: #6C9C5A;
    z-index: 10; }
    .sidebar__list {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 100%; }
    .sidebar__link {
      color: #D3E1CE; }
    .sidebar__item {
      padding-left: 17px; }
      .sidebar__item_active .sidebar__link {
        color: #FFFFFF; }
  .content {
    width: 100%;
    float: none;
    padding: 10px 24px;
    margin-left: 280px; }
  .article {
    margin: auto;
    font-size: 14px;
    line-height: 21px; }
    .article__head {
      font: 30px/36px sansus_webissimoregular; }
  .green-folder a {
    height: 45px;
    margin-left: 280px;
    width: 12px;
    position: fixed;
    top: 50%;
    -webkit-border-radius: 0 120px 120px 0;
            border-radius: 0 120px 120px 0;
    background-color: #6C9C5A; }
  .main {
    overflow: hidden; } }

@media screen and (max-width: 768px) {
  .welcome-block__head {
    font: 21px/28px robotomedium;
    margin-bottom: 0; }
  .welcome-block__text {
    font-size: 14px; }
  .autorize {
    float: none;
    display: inline-block; }
  .autorize-wrap {
    text-align: center; }
  .contact-block,
  .autorize-block,
  .welcome-block {
    width: 300px; }
    .contact-block__nav-menu-link,
    .autorize-block__nav-menu-link,
    .welcome-block__nav-menu-link {
      padding: 0 17px; }
  .footer {
    font-size: 14px; }
    .footer__begin {
      display: block; }
    .footer__main {
      border-left: none; }
    .footer__link {
      font-size: 14px; }
  .main-header {
    padding-bottom: 0; }
  .arrow__block {
    height: 70px; }
  .main-menu__close {
    width: 28px;
    height: 25px;
    background-size: cover; }
  .vk {
    width: 24px;
    height: 15px; }
  .git {
    width: 21px;
    height: 19px; }
  .in {
    width: 19px;
    height: 17px; }
  .section-header {
    font-size: 35px; }
  .vision-part {
    height: 255px; }
  .descr-part {
    height: 218px; }
    .descr-part__head {
      font-size: 21px; }
    .descr-part__descr {
      margin-bottom: 16px; }
  .navigation-part {
    height: 92px; }
  .reviews__item {
    width: 100%; }
  .contact-block__head {
    font: 21px/28px sansus_webissimoregular; }
  .footer {
    text-align: center; }
  .footer__links,
  .footer__descr {
    display: block;
    width: 100%; }
  .aboutMe-info {
    padding-left: 0;
    padding-right: 0; }
    .aboutMe-info__text {
      padding: 0 10px;
      line-height: 24px; }
  .aboutMe-skills {
    padding-left: 0;
    padding-right: 0; }
    .aboutMe-skills__text {
      padding: 0 10px;
      line-height: 24px; }
  .article__head {
    font: 30px/36px sansus_webissimoregular; } }

@media screen and (max-width: 380px) {
  .about-contacts__data {
    position: static;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    background-color: #FBFBFB;
    width: 100%;
    -webkit-border-radius: 0;
            border-radius: 0; } }
