body, html {
  height: 100%;
  font-family: robotoregular; }

* {
  box-sizing: border-box; }

img {
  width: 100%;
  height: auto; }

ul {
  list-style: none;
  padding: 0; }

h1, h2, h3, ul {
  margin: 0; }

a {
  color: #FFFFFF;
  text-decoration: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.hidden {
  display: none; }

.container,
.main-header {
  background-image: url("../img/bg-forest.jpg");
  background-size: cover;
  color: #FFFFFF; }

.main {
  min-height: 100%;
  margin: 0 auto;
  position: relative; }
  .main-welcome:after {
    content: "";
    display: block;
    height: 100px; }

.main-header {
  padding: 30px;
  min-height: 650px;
  height: 100%; }
  .main-header .welcome-block__soc {
    float: left; }
    .main-header .welcome-block__soc-link {
      opacity: 1; }

.header-wrap {
  position: relative;
  height: 100%;
  margin-bottom: -90px; }

.welcome-content {
  position: relative;
  min-height: 650px; }

.autorize-wrap {
  margin-bottom: 34px;
  padding: 20px; }

.autorize {
  float: right; }
  .autorize__text {
    display: block;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    padding: 0 27px;
    font-size: 16px;
    line-height: 43px;
    font-family: "robotobold";
    transition: all 0.5s; }
    .autorize__text:hover {
      background: #4E8839;
      border-color: #729E19; }

.welcome-block-wrap {
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.welcome-block {
  width: 380px;
  margin: auto;
  padding-top: 40px;
  background: rgba(18, 38, 32, 0.6);
  text-align: center;
  border-radius: 5px;
  overflow: hidden; }
  .welcome-block__photo-wrap {
    width: 140px;
    height: 140px;
    margin: 0 auto 24px;
    border-radius: 50%;
    overflow: hidden;
    background: #E2E2E2; }
  .welcome-block__head {
    font: 28px/34px robotomedium;
    margin-bottom: 12px; }
  .welcome-block__descr {
    color: #BBC3BF;
    margin-bottom: 42px;
    font-size: 16px;
    line-height: 1.5; }
  .welcome-block__soc {
    font-size: 0;
    margin-bottom: 40px; }
  .welcome-block__soc-list {
    display: inline-block; }
  .welcome-block__soc-item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px; }
    .welcome-block__soc-item_first {
      margin-left: 0; }
  .welcome-block__soc-link {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
    transition: all 0.3s; }

.welcome-block__nav-menu {
  font-size: 0; }

.welcome-block__nav-menu-list {
  font-size: 16px;
  display: table;
  width: 100%; }

.welcome-block__nav-menu-item {
  display: table-cell;
  border-left: 2px solid #9FB79C;
  height: 45px; }
  .welcome-block__nav-menu-item_first {
    border-left: none; }

.welcome-block__nav-menu-link {
  display: block;
  line-height: 45px;
  background-color: #5F8A51;
  padding: 0 30px;
  transition: all 0.3s;
  font-family: robotomedium; }
  .welcome-block__nav-menu-link:hover {
    background-color: #457935; }

.vk {
  width: 35px;
  height: 20px;
  background-image: url("../img/icons/vk.svg"); }
  .vk:hover {
    opacity: 1;
    background-image: url("../img/icons/vk_hover.svg"); }

.git {
  width: 30px;
  height: 26px;
  background-image: url("../img/icons/github.svg"); }
  .git:hover {
    opacity: 1;
    background-image: url("../img/icons/github_hover.svg"); }

.in {
  width: 27px;
  height: 26px;
  background-image: url("../img/icons/in.svg"); }
  .in:hover {
    opacity: 1;
    background-image: url("../img/icons/in_hover.svg"); }

.autorize-block-wrap {
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: scale(0); }

.autorize-block__enter {
  font-size: 0; }

.autorize-block__enter-list {
  font-size: 16px;
  display: table;
  width: 100%; }

.autorize-block__enter-item {
  display: table-cell;
  border-left: 2px solid #9FB79C;
  height: 45px; }
  .autorize-block__enter-item_first {
    border-left: none; }

.autorize-block__enter-link {
  display: block;
  line-height: 45px;
  background-color: #5F8A51;
  padding: 0 30px;
  transition: all 0.3s;
  font-family: robotomedium; }
  .autorize-block__enter-link:hover {
    background-color: #457935; }

.autorize-block__enter-list {
  table-layout: fixed; }

.autorize-block {
  width: 380px;
  margin: auto;
  padding-top: 40px;
  background: rgba(18, 38, 32, 0.6);
  text-align: center;
  border-radius: 5px;
  overflow: hidden; }
  .autorize-block__head {
    font: 35px/41px sansus_webissimoregular;
    text-transform: uppercase; }
  .autorize-block__head:after {
    content: "";
    display: block;
    margin: 16px auto 25px;
    width: 90px;
    height: 3px;
    background-color: #FFFFFF; }
  .autorize-block__form {
    padding: 0 20px; }
  .autorize-block__data {
    margin-bottom: 20px; }
  .autorize-block__input-text {
    width: 100%;
    padding: 15px 20px;
    border: none;
    outline: none; }
    .autorize-block__input-text_textarea {
      height: 140px;
      border-radius: 20px;
      resize: none; }
  .autorize-block__textarea, .autorize-block__email, .autorize-block__login, .autorize-block__password {
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    color: #C4CBCD; }
  .autorize-block__textarea {
    border-radius: 20px; }
  .autorize-block__check {
    display: inline-block;
    cursor: pointer;
    padding: 0 30px;
    position: relative; }
    .autorize-block__check:before {
      content: "";
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 3px;
      background-color: #77A266;
      background-image: url("../img/icons/check.svg");
      background-repeat: no-repeat;
      background-position: center center;
      left: 1px;
      top: 2px; }
  .autorize-block__text {
    margin-bottom: 10px;
    font-family: robotobold; }
  .autorize-block__choice1, .autorize-block__choice2 {
    display: inline-block;
    font-family: robotomedium; }
    .autorize-block__choice1 input, .autorize-block__choice2 input {
      outline: none; }
  .autorize-block__choice1 {
    margin-right: 40px; }

.autorize-block__login:before,
.autorize-block__password:before {
  content: "";
  display: block;
  position: absolute;
  width: 44px;
  height: 55px;
  left: 0;
  top: 0;
  background-color: #F0EFE9; }

.autorize-block__login:after,
.autorize-block__password:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 15px;
  top: 17px;
  background-repeat: no-repeat; }

.autorize-block__login:after {
  background-image: url("../img/icons/login.svg"); }

.autorize-block__password:after {
  background-image: url("../img/icons/password.svg"); }

.autorize-block__input-text {
  padding-left: 60px; }

/* .footer

	&__info
		position: relative
		height: 145px
		background-color: rgba(55, 62, 66, 0.85)
		width: 100%
		display: table
		table-layout: fixed
		padding: 25px 0
		color: #FFFFFF
	&__info-block
		display: table-cell
		border-left: 1px solid #9B9FA1
		padding: 0 25px
	&__descr
		border-left: none
		font-family: robotolight
	&__list
		font-size: 0
	&__item
		font-size: 16px
		display: inline-block
		margin-left: 18px
		&_first
			margin-left: 0
	&__soc
		margin-bottom: 10px
		margin-top: 30px
		font-family: robotobold
		.vk:hover
			background-image: url('../img/icons/vk_hover_white.svg')
		.git:hover
			background-image: url('../img/icons/github_hover_white.svg')
		.in:hover
			background-image: url('../img/icons/in_hover_white.svg')
	&__cite
		font-family: robotoitalic
		&__author
			font-weight: bold */
.footer-welcome {
  margin-top: -40px; }

.footer {
  margin-top: -185px; }
  .footer__copyright {
    height: 40px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    color: #D5DDD9;
    line-height: 24px; }
  .footer__text {
    display: inline-block;
    padding: 0 5px;
    border-left: 1px solid #D5DDD9; }
  .footer__begin {
    border-left: none; }
  .footer__copyright_pages {
    position: relative;
    background-color: rgba(108, 156, 90, 0.85); }
  .footer__info {
    position: relative;
    height: 145px;
    background-color: rgba(55, 62, 66, 0.85);
    width: 100%;
    display: table;
    table-layout: fixed;
    padding: 25px 0;
    color: #FFFFFF; }
  .footer__info-block {
    display: table-cell;
    border-left: 1px solid #9B9FA1;
    padding: 0 25px;
    vertical-align: top; }
    .footer__info-block p {
      margin: 0; }
  .footer__descr {
    border-left: none;
    font-family: robotolight; }
  .footer__list {
    font-size: 0; }
  .footer__item {
    font-size: 16px;
    display: inline-block;
    margin-left: 18px; }
    .footer__item_first {
      margin-left: 0; }
  .footer__soc {
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: robotobold; }
    .footer__soc .vk:hover {
      background-image: url("../img/icons/vk_hover_white.svg"); }
    .footer__soc .git:hover {
      background-image: url("../img/icons/github_hover_white.svg"); }
    .footer__soc .in:hover {
      background-image: url("../img/icons/in_hover_white.svg"); }
  .footer__cite {
    font-family: robotoitalic; }
    .footer__cite__author {
      font-weight: bold; }

.reviews__header {
  width: 60%;
  margin: auto;
  position: relative; }
  .reviews__header:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: url("../img/icons/about_header.svg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: contain;
    opacity: 0.2; }

.reviews__block {
  margin: auto;
  max-width: 775px; }

.reviews__item {
  width: 50%;
  vertical-align: top;
  display: inline-block;
  margin-right: -4px;
  margin-bottom: 60px;
  text-align: center; }
  .reviews__item p {
    font-family: robotoitalic;
    font-size: 16px; }

.reviews__photo {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  margin: auto;
  overflow: hidden; }

.reviews__text {
  line-height: 26px;
  text-align: left; }
  .reviews__text:before {
    content: "\201c"; }
  .reviews__text:after {
    content: "\201d"; }

.reviews__name {
  color: #4E8839;
  font-weight: bold; }

.background {
  background-image: url("../img/bg-ground.jpg");
  background-position: center bottom;
  background-repeat: repeat-x;
  padding-bottom: 185px; }

.main-menu {
  float: right; }
  .main-menu__close {
    width: 40px;
    height: 40px;
    background-image: url("../img/icons/hamburger.svg");
    background-repeat: no-repeat;
    cursor: pointer; }
  .main-menu__open {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: #6C9C5A;
    opacity: 0.87;
    font-size: 0; }
  .main-menu__list {
    font-size: 35px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .main-menu__link {
    display: inline-block; }
  .main-menu__link:after {
    content: "";
    display: block;
    margin: 22px auto 30px;
    width: 90px;
    height: 3px;
    background-color: transparent; }
  .main-menu__link:hover:after {
    content: "";
    display: block;
    margin: 22px auto 30px;
    width: 90px;
    height: 3px;
    background-color: #FFFFFF; }

.info-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  margin: auto;
  padding-top: 40px;
  background: rgba(18, 38, 32, 0.6);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  background-color: transparent; }

.welcome-block__head {
  font-size: 35px; }

.welcome-block__descr {
  color: #FFFFFF; }

.arrow__block {
  height: 90px; }

.arrow__link {
  margin: auto;
  background-image: url("../img/icons/arrow_down.svg");
  background-repeat: no-repeat;
  display: block;
  width: 26px;
  height: 20px;
  font-size: 0; }
  .arrow__link_relative {
    position: relative; }
  .arrow__link_up {
    transform: rotate(180deg) translateY(15px); }

.myWorks {
  margin-top: -8.5%;
  background-image: url("../img/icons/bg.svg");
  background-size: 101%;
  padding-top: 8.5%;
  background-repeat: no-repeat; }
  .myWorks__header {
    margin: auto;
    width: 50%;
    position: relative; }
    .myWorks__header:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 150px;
      top: -45px;
      background-image: url("../img/icons/works_header.svg");
      background-repeat: no-repeat;
      background-position: center 0;
      background-size: 100% 100%;
      opacity: 0.2; }

.descr-part,
.vision-part,
.navigation-part {
  width: 50%; }

.descr-part {
  height: 748px;
  float: left;
  background-color: #EBEFE2; }
  .descr-part__wrap {
    position: relative;
    height: 100%; }
  .descr-part__block {
    width: 80%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .descr-part__item {
    display: none;
    font-family: robotomedium; }
    .descr-part__item:first-of-type {
      display: block; }
  .descr-part__head {
    font-size: 35px;
    font-family: sansus_webissimoregular;
    color: #566358;
    text-transform: uppercase; }
  .descr-part__head:after {
    content: "";
    display: block;
    margin: 30px auto 25px;
    width: 90px;
    height: 3px;
    background-color: #566358; }
  .descr-part__descr {
    font-size: 16px;
    color: #6C9C5A;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px; }
  .descr-part__visit {
    display: inline-block;
    background-color: #6C9C5A;
    padding: 12px 25px 12px 15px;
    font-size: 16px;
    border-radius: 50px; }
    .descr-part__visit:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin-right: 16px;
      background-image: url("../img/icons/link.svg");
      background-repeat: no-repeat; }

.vision-part {
  float: right;
  height: 525px;
  background-color: #E1E4D7; }
  .vision-part__wrap {
    position: relative;
    height: 100%; }
  .vision-part__container {
    width: 80%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .vision-part__img {
    width: 100%; }
  .vision-part__item {
    display: none; }
    .vision-part__item:first-of-type {
      display: block; }

.navigation-part {
  float: right;
  height: 223px; }
  .navigation-part__block {
    background-color: #373E42;
    width: 50%;
    position: relative;
    height: 100%; }
  .navigation-part__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    text-align: center; }
  .navigation-part__item {
    display: none; }
    .navigation-part__item:first-of-type {
      display: block; }
  .navigation-part__prev {
    float: left;
    opacity: 0.4; }
    .navigation-part__prev .descr-part__img {
      opacity: 0.5; }
  .navigation-part__next {
    float: right;
    opacity: 0.5; }
    .navigation-part__next .descr-part__img {
      opacity: 0.5; }
  .navigation-part__arrow {
    width: 25px;
    height: 20px;
    background-image: url("../img/icons/arrow_down.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .navigation-part__arrow_up {
      transform: rotate(180deg) translateY(15px); }

.section-header {
  text-align: center;
  padding-top: 66px;
  font-size: 63px;
  font-family: sansus_webissimoregular;
  color: #373E42;
  text-transform: uppercase; }

.section-header:after {
  content: "";
  display: block;
  margin: 15px auto 30px;
  width: 90px;
  height: 3px;
  background-color: #373E42; }

.contact-block {
  width: 380px;
  margin: auto;
  padding-top: 40px;
  background: rgba(18, 38, 32, 0.6);
  text-align: center;
  border-radius: 5px;
  overflow: hidden; }
  .contact-block__head {
    font: 35px/41px sansus_webissimoregular;
    text-transform: uppercase; }
  .contact-block__head:after {
    content: "";
    display: block;
    margin: 16px auto 25px;
    width: 90px;
    height: 3px;
    background-color: #FFFFFF; }
  .contact-block__form {
    padding: 0 20px; }
  .contact-block__data {
    margin-bottom: 20px; }
  .contact-block__input-text {
    width: 100%;
    padding: 15px 20px;
    border: none;
    outline: none; }
    .contact-block__input-text_textarea {
      height: 140px;
      border-radius: 20px;
      resize: none; }
  .contact-block__textarea, .contact-block__email, .contact-block__login, .contact-block__password {
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    color: #C4CBCD; }
  .contact-block__textarea {
    border-radius: 20px; }
  .contact-block__check {
    display: inline-block;
    cursor: pointer;
    padding: 0 30px;
    position: relative; }
    .contact-block__check:before {
      content: "";
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 3px;
      background-color: #77A266;
      background-image: url("../img/icons/check.svg");
      background-repeat: no-repeat;
      background-position: center center;
      left: 1px;
      top: 2px; }
  .contact-block__text {
    margin-bottom: 10px;
    font-family: robotobold; }
  .contact-block__choice1, .contact-block__choice2 {
    display: inline-block;
    font-family: robotomedium; }
    .contact-block__choice1 input, .contact-block__choice2 input {
      outline: none; }
  .contact-block__choice1 {
    margin-right: 40px; }

.contact-block-wrap {
  margin-bottom: 70px; }

.contact-block {
  background-color: rgba(224, 224, 220, 0.6);
  color: #566358; }

.contact-block__head:after {
  content: "";
  display: block;
  margin: 22px auto 30px;
  width: 90px;
  height: 3px;
  background-color: #566358; }

.contact-block__enter {
  font-size: 0; }

.contact-block__enter-list {
  font-size: 16px;
  display: table;
  width: 100%; }

.contact-block__enter-item {
  display: table-cell;
  border-left: 2px solid #9FB79C;
  height: 45px; }
  .contact-block__enter-item_first {
    border-left: none; }

.contact-block__enter-link {
  display: block;
  line-height: 45px;
  background-color: #5F8A51;
  padding: 0 30px;
  transition: all 0.3s;
  font-family: robotomedium; }
  .contact-block__enter-link:hover {
    background-color: #457935; }

.contact-block__enter-list {
  table-layout: fixed; }

@media screen and (max-width: 1200px) {
  .contact-block,
  .autorize-block,
  .welcome-block {
    width: 348px; }
    .contact-block__nav-menu-link,
    .autorize-block__nav-menu-link,
    .welcome-block__nav-menu-link {
      padding: 0 25px; }
  .footer {
    margin-top: -270px;
    font-size: 14px; }
    .footer__info, .footer__cite {
      display: block;
      width: 100%; }
    .footer__info {
      height: 230px; }
    .footer__links, .footer__descr {
      display: inline-block;
      width: 49%; }
    .footer__cite {
      padding-top: 25px; }
  .background {
    padding-bottom: 270px; }
  .main-works {
    margin: 0 auto -280px; }
    .main-works:after {
      height: 275px; }
  .section-header {
    font-size: 47px; }
  .section-header:after {
    content: "";
    display: block;
    margin: 5px auto 20px;
    width: 90px;
    height: 3px;
    background-color: #373E42; }
  .descr-part,
  .vision-part,
  .navigation-part {
    width: 100%;
    float: none; }
  .vision-part__container {
    max-width: 600px; }
  .descr-part {
    height: 275px; }
    .descr-part__head {
      font-size: 30px; }
    .descr-part__head:after {
      content: "";
      display: block;
      margin: 15px auto 20px;
      width: 90px;
      height: 3px;
      background-color: #566358; }
    .descr-part__descr {
      margin-bottom: 40px; }
  .aboutMe {
    margin-top: -8.5%;
    background-image: url("../img/icons/bg1.svg");
    background-size: 101%;
    padding-top: 8.5%;
    background-repeat: no-repeat; }
    .aboutMe-info, .aboutMe-skills {
      display: block;
      width: 100%;
      background-image: none;
      padding-top: 30px; }
    .aboutMe-info {
      background-color: #E9EFE2;
      padding-left: 145px;
      padding-right: 145px; }
    .aboutMe-skills {
      background-color: #F4F5F0;
      padding-left: 100px;
      padding-right: 100px; }
      .aboutMe-skills__text {
        padding: 0 45px; }
      .aboutMe-skills__progress {
        text-align: center; }
  .about-contacts {
    height: 900px; }
    .about-contacts__data {
      margin-top: -135px; }
  .sidebar {
    float: none;
    height: 100%;
    width: 280px;
    background-color: #6C9C5A;
    z-index: 10; }
    .sidebar__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%; }
    .sidebar__link {
      color: #D3E1CE; }
    .sidebar__item {
      padding-left: 17px; }
      .sidebar__item_active .sidebar__link {
        color: #FFFFFF; }
  .content {
    width: 100%;
    float: none;
    padding: 10px 24px; }
  .article {
    margin: auto;
    font-size: 14px;
    line-height: 21px; }
    .article__head {
      font: 30px/36px sansus_webissimoregular; }
  .green-folder a {
    height: 45px;
    margin-left: 280px;
    width: 12px;
    position: fixed;
    top: 50%;
    border-radius: 0 75% 75% 0;
    background-color: #6C9C5A; } }

@media screen and (max-width: 768px) {
  .welcome-block__head {
    font: 21px/28px robotomedium;
    margin-bottom: 0; }
  .welcome-block__text {
    font-size: 14px; }
  .autorize {
    float: none;
    display: inline-block; }
  .autorize-wrap {
    text-align: center; }
  .contact-block,
  .autorize-block,
  .welcome-block {
    width: 300px; }
    .contact-block__nav-menu-link,
    .autorize-block__nav-menu-link,
    .welcome-block__nav-menu-link {
      padding: 0 17px; }
  .footer {
    margin-top: -350px;
    text-align: center; }
    .footer-welcome {
      margin: -60px; }
    .footer__copyright {
      height: 60px; }
    .footer__begin {
      display: block; }
    .footer__main {
      border-left: none; }
    .footer__info {
      height: 290px;
      padding: 0 20px; }
    .footer__links, .footer__descr {
      display: block;
      padding: 15px 0;
      width: 100%;
      border-left: none;
      border-bottom: 1px solid #D5DDD9; }
    .footer__cite {
      border-left: none;
      padding-top: 20px; }
    .footer__item {
      font-size: 13px;
      margin-left: 12px; }
  .background {
    padding-bottom: 350px; }
  .main-header {
    padding-bottom: 0; }
  .arrow__block {
    height: 70px; }
  .main-menu__close {
    width: 28px;
    height: 25px;
    background-size: cover; }
  .vk {
    width: 24px;
    height: 15px; }
  .git {
    width: 21px;
    height: 19px; }
  .in {
    width: 19px;
    height: 17px; }
  .section-header {
    font-size: 35px; }
  .myWorks-header {
    width: 75%; }
  .vision-part {
    height: 255px; }
    .vision-part__img img {
      width: 280px; }
  .descr-part {
    height: 218px; }
    .descr-part__head {
      font-size: 21px; }
    .descr-part__descr {
      margin-bottom: 16px; }
  .navigation-part {
    height: 92px; }
    .navigation-part__img img {
      width: 120px; }
  .reviews__item {
    width: 100%; }
  .contact-block__head {
    font: 21px/28px sansus_webissimoregular; }
  .aboutMe-info {
    padding-left: 0;
    padding-right: 0; }
    .aboutMe-info__text {
      padding: 0 10px;
      line-height: 24px; }
  .aboutMe-skills {
    padding-left: 0;
    padding-right: 0; }
    .aboutMe-skills__text {
      padding: 0 10px;
      line-height: 24px; }
  .about-contacts {
    height: 860px; }
    .about-contacts__data {
      margin-top: -175px; }
  .article__head {
    font: 30px/36px sansus_webissimoregular; }
  .blogs {
    padding-bottom: 350px; } }

@media screen and (max-width: 380px) {
  .about-contacts__data {
    position: static;
    transform: translate(0, 0);
    background-color: #FBFBFB;
    width: 100%;
    border-radius: 0;
    margin-top: 0; }
  .footer-about {
    margin-top: 0; }
  .myWorks-header {
    width: 100%; } }

.section-header {
  padding-top: 0; }

.aboutMe {
  margin-top: -8.9%;
  color: #373E42;
  display: table; }
  .aboutMe-info, .aboutMe-skills {
    display: table-cell;
    width: 50%;
    padding-top: 8.8%;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: top; }
  .aboutMe-info {
    background-image: url("../img/icons/about_bg_left1.svg");
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 25px; }
    .aboutMe-info__photo {
      margin-bottom: 15px; }
    .aboutMe-info__head {
      max-width: 300px;
      padding-top: 20px;
      font: 35px/41px sansus_webissimoregular;
      text-transform: uppercase;
      margin: auto;
      text-align: center;
      color: #373E42; }
    .aboutMe-info__head:after {
      content: "";
      display: block;
      margin: 14px auto 20px;
      width: 90px;
      height: 3px;
      background-color: #373E42; }
    @media screen and (max-width: 1200px) {
      .aboutMe-info__head {
        font: 30px/36px sansus_webissimoregular; } }
    .aboutMe-info__head:after {
      content: "";
      display: block;
      margin: 5px auto 15px;
      width: 90px;
      height: 3px;
      background-color: #373E42; }
  .aboutMe-skills {
    background-image: url("../img/icons/about_bg_right1.svg");
    background-position: right top;
    padding-left: 25px;
    padding-right: 25px; }
    .aboutMe-skills__head {
      max-width: 300px;
      padding-top: 20px;
      font: 35px/41px sansus_webissimoregular;
      text-transform: uppercase;
      margin: auto;
      text-align: center;
      color: #373E42; }
    .aboutMe-skills__head:after {
      content: "";
      display: block;
      margin: 14px auto 20px;
      width: 90px;
      height: 3px;
      background-color: #373E42; }
    @media screen and (max-width: 1200px) {
      .aboutMe-skills__head {
        font: 30px/36px sansus_webissimoregular; } }
    .aboutMe-skills__head:after {
      content: "";
      display: block;
      margin: 5px auto 15px;
      width: 90px;
      height: 3px;
      background-color: #373E42; }
    .aboutMe-skills__progress {
      font-size: 28px;
      font-family: robotomedium; }
    .aboutMe-skills__list-outer {
      margin: 50px 0; }
    .aboutMe-skills__item-outer {
      margin-bottom: 35px; }
    .aboutMe-skills__item-inner {
      position: relative;
      display: inline-block;
      border-radius: 50%;
      color: #6C9C5A;
      margin: 10px;
      font-size: 13px;
      text-align: center;
      vertical-align: bottom; }
    .aboutMe-skills__tech {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60px; }

.g-circles {
  transform: rotate(-90deg);
  fill: none;
  stroke-width: 20; }

.sector {
  stroke: #6C9C5A;
  transition: all 1s;
  stroke-dasharray: 282; }

.html {
  stroke-dashoffset: 201; }

.css {
  stroke-dashoffset: 221; }

.js {
  stroke-dashoffset: 241; }

.php {
  stroke-dashoffset: 261; }

.mysql {
  stroke-dashoffset: 271; }

.node {
  stroke-dashoffset: 271; }

.mongo {
  stroke-dashoffset: 282; }

.git {
  stroke-dashoffset: 221; }

.gulp {
  stroke-dashoffset: 241; }

.bower {
  stroke-dashoffset: 221; }

.about-contacts {
  height: 980px;
  position: relative; }
  .about-contacts iframe {
    width: 100%;
    height: 100%; }
  .about-contacts__data {
    background-color: rgba(244, 245, 240, 0.85);
    border-radius: 5px;
    margin-top: -92px;
    max-width: 380px;
    padding: 40px;
    color: #373E42;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .about-contacts__head {
    max-width: 300px;
    padding-top: 20px;
    font: 35px/41px sansus_webissimoregular;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    color: #373E42; }
  .about-contacts__head:after {
    content: "";
    display: block;
    margin: 14px auto 20px;
    width: 90px;
    height: 3px;
    background-color: #373E42; }
  @media screen and (max-width: 1200px) {
    .about-contacts__head {
      font: 30px/36px sansus_webissimoregular; } }
  .about-contacts__head:after {
    content: "";
    display: block;
    margin: 5px auto 15px;
    width: 90px;
    height: 3px;
    background-color: #373E42; }
  .about-contacts__item {
    marghi-bottom: 30px; }
  .about-contacts__link {
    display: block;
    color: #373E42;
    padding: 10px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 16px;
    font-family: robotomedium; }
  .about-contacts__skype {
    background-image: url("../img/icons/skype.svg"); }
  .about-contacts__email {
    background-image: url("../img/icons/envelope.svg"); }
  .about-contacts__phone {
    background-image: url("../img/icons/phone.svg"); }
  .about-contacts__address {
    background-image: url("../img/icons/map_marker.svg"); }

/* .overlay
	background: transparent
	position: relative
	width: 100%
	height: 900px
	top: 900px
	margin-top: -900px */
@media screen and (max-width: 1200px) {
  .contact-block,
  .autorize-block,
  .welcome-block {
    width: 348px; }
    .contact-block__nav-menu-link,
    .autorize-block__nav-menu-link,
    .welcome-block__nav-menu-link {
      padding: 0 25px; }
  .footer {
    margin-top: -270px;
    font-size: 14px; }
    .footer__info, .footer__cite {
      display: block;
      width: 100%; }
    .footer__info {
      height: 230px; }
    .footer__links, .footer__descr {
      display: inline-block;
      width: 49%; }
    .footer__cite {
      padding-top: 25px; }
  .background {
    padding-bottom: 270px; }
  .main-works {
    margin: 0 auto -280px; }
    .main-works:after {
      height: 275px; }
  .section-header {
    font-size: 47px; }
  .section-header:after {
    content: "";
    display: block;
    margin: 5px auto 20px;
    width: 90px;
    height: 3px;
    background-color: #373E42; }
  .descr-part,
  .vision-part,
  .navigation-part {
    width: 100%;
    float: none; }
  .vision-part__container {
    max-width: 600px; }
  .descr-part {
    height: 275px; }
    .descr-part__head {
      font-size: 30px; }
    .descr-part__head:after {
      content: "";
      display: block;
      margin: 15px auto 20px;
      width: 90px;
      height: 3px;
      background-color: #566358; }
    .descr-part__descr {
      margin-bottom: 40px; }
  .aboutMe {
    margin-top: -8.5%;
    background-image: url("../img/icons/bg1.svg");
    background-size: 101%;
    padding-top: 8.5%;
    background-repeat: no-repeat; }
    .aboutMe-info, .aboutMe-skills {
      display: block;
      width: 100%;
      background-image: none;
      padding-top: 30px; }
    .aboutMe-info {
      background-color: #E9EFE2;
      padding-left: 145px;
      padding-right: 145px; }
    .aboutMe-skills {
      background-color: #F4F5F0;
      padding-left: 100px;
      padding-right: 100px; }
      .aboutMe-skills__text {
        padding: 0 45px; }
      .aboutMe-skills__progress {
        text-align: center; }
  .about-contacts {
    height: 900px; }
    .about-contacts__data {
      margin-top: -135px; }
  .sidebar {
    float: none;
    height: 100%;
    width: 280px;
    background-color: #6C9C5A;
    z-index: 10; }
    .sidebar__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%; }
    .sidebar__link {
      color: #D3E1CE; }
    .sidebar__item {
      padding-left: 17px; }
      .sidebar__item_active .sidebar__link {
        color: #FFFFFF; }
  .content {
    width: 100%;
    float: none;
    padding: 10px 24px; }
  .article {
    margin: auto;
    font-size: 14px;
    line-height: 21px; }
    .article__head {
      font: 30px/36px sansus_webissimoregular; }
  .green-folder a {
    height: 45px;
    margin-left: 280px;
    width: 12px;
    position: fixed;
    top: 50%;
    border-radius: 0 75% 75% 0;
    background-color: #6C9C5A; } }

@media screen and (max-width: 768px) {
  .welcome-block__head {
    font: 21px/28px robotomedium;
    margin-bottom: 0; }
  .welcome-block__text {
    font-size: 14px; }
  .autorize {
    float: none;
    display: inline-block; }
  .autorize-wrap {
    text-align: center; }
  .contact-block,
  .autorize-block,
  .welcome-block {
    width: 300px; }
    .contact-block__nav-menu-link,
    .autorize-block__nav-menu-link,
    .welcome-block__nav-menu-link {
      padding: 0 17px; }
  .footer {
    margin-top: -350px;
    text-align: center; }
    .footer-welcome {
      margin: -60px; }
    .footer__copyright {
      height: 60px; }
    .footer__begin {
      display: block; }
    .footer__main {
      border-left: none; }
    .footer__info {
      height: 290px;
      padding: 0 20px; }
    .footer__links, .footer__descr {
      display: block;
      padding: 15px 0;
      width: 100%;
      border-left: none;
      border-bottom: 1px solid #D5DDD9; }
    .footer__cite {
      border-left: none;
      padding-top: 20px; }
    .footer__item {
      font-size: 13px;
      margin-left: 12px; }
  .background {
    padding-bottom: 350px; }
  .main-header {
    padding-bottom: 0; }
  .arrow__block {
    height: 70px; }
  .main-menu__close {
    width: 28px;
    height: 25px;
    background-size: cover; }
  .vk {
    width: 24px;
    height: 15px; }
  .git {
    width: 21px;
    height: 19px; }
  .in {
    width: 19px;
    height: 17px; }
  .section-header {
    font-size: 35px; }
  .myWorks-header {
    width: 75%; }
  .vision-part {
    height: 255px; }
    .vision-part__img img {
      width: 280px; }
  .descr-part {
    height: 218px; }
    .descr-part__head {
      font-size: 21px; }
    .descr-part__descr {
      margin-bottom: 16px; }
  .navigation-part {
    height: 92px; }
    .navigation-part__img img {
      width: 120px; }
  .reviews__item {
    width: 100%; }
  .contact-block__head {
    font: 21px/28px sansus_webissimoregular; }
  .aboutMe-info {
    padding-left: 0;
    padding-right: 0; }
    .aboutMe-info__text {
      padding: 0 10px;
      line-height: 24px; }
  .aboutMe-skills {
    padding-left: 0;
    padding-right: 0; }
    .aboutMe-skills__text {
      padding: 0 10px;
      line-height: 24px; }
  .about-contacts {
    height: 860px; }
    .about-contacts__data {
      margin-top: -175px; }
  .article__head {
    font: 30px/36px sansus_webissimoregular; }
  .blogs {
    padding-bottom: 350px; } }

@media screen and (max-width: 380px) {
  .about-contacts__data {
    position: static;
    transform: translate(0, 0);
    background-color: #FBFBFB;
    width: 100%;
    border-radius: 0;
    margin-top: 0; }
  .footer-about {
    margin-top: 0; }
  .myWorks-header {
    width: 100%; } }

.green-folder {
  font-size: 0; }

.blogs {
  margin-top: -8.5%;
  background-image: url("../img/icons/bg.svg");
  background-size: 101%;
  padding-top: 8.5%;
  padding-bottom: 185px;
  background-repeat: no-repeat;
  color: #373E42; }

.content__wrap {
  padding-top: 50px; }

.sidebar {
  position: fixed;
  float: left;
  width: 25%; }
  .sidebar__item {
    padding: 17px;
    padding-left: 40px;
    text-align: right; }
    .sidebar__item_active {
      border-right: 3px solid #6C9C5A; }
      .sidebar__item_active .sidebar__link {
        color: #6C9C5A;
        font-family: robotobold; }
  .sidebar__link {
    color: #373E42;
    font-size: 16px;
    max-width: 274px; }

.content {
  padding: 10px 100px;
  float: right;
  width: 75%; }
  .content__head {
    font-size: 0; }

.article {
  max-width: 900px;
  font-size: 16px;
  line-height: 26px; }
  .article__head {
    font: 35px/41px sansus_webissimoregular; }
  .article__date time {
    color: #6C9C5A; }

@media screen and (max-width: 1200px) {
  .contact-block,
  .autorize-block,
  .welcome-block {
    width: 348px; }
    .contact-block__nav-menu-link,
    .autorize-block__nav-menu-link,
    .welcome-block__nav-menu-link {
      padding: 0 25px; }
  .footer {
    margin-top: -270px;
    font-size: 14px; }
    .footer__info, .footer__cite {
      display: block;
      width: 100%; }
    .footer__info {
      height: 230px; }
    .footer__links, .footer__descr {
      display: inline-block;
      width: 49%; }
    .footer__cite {
      padding-top: 25px; }
  .background {
    padding-bottom: 270px; }
  .main-works {
    margin: 0 auto -280px; }
    .main-works:after {
      height: 275px; }
  .section-header {
    font-size: 47px; }
  .section-header:after {
    content: "";
    display: block;
    margin: 5px auto 20px;
    width: 90px;
    height: 3px;
    background-color: #373E42; }
  .descr-part,
  .vision-part,
  .navigation-part {
    width: 100%;
    float: none; }
  .vision-part__container {
    max-width: 600px; }
  .descr-part {
    height: 275px; }
    .descr-part__head {
      font-size: 30px; }
    .descr-part__head:after {
      content: "";
      display: block;
      margin: 15px auto 20px;
      width: 90px;
      height: 3px;
      background-color: #566358; }
    .descr-part__descr {
      margin-bottom: 40px; }
  .aboutMe {
    margin-top: -8.5%;
    background-image: url("../img/icons/bg1.svg");
    background-size: 101%;
    padding-top: 8.5%;
    background-repeat: no-repeat; }
    .aboutMe-info, .aboutMe-skills {
      display: block;
      width: 100%;
      background-image: none;
      padding-top: 30px; }
    .aboutMe-info {
      background-color: #E9EFE2;
      padding-left: 145px;
      padding-right: 145px; }
    .aboutMe-skills {
      background-color: #F4F5F0;
      padding-left: 100px;
      padding-right: 100px; }
      .aboutMe-skills__text {
        padding: 0 45px; }
      .aboutMe-skills__progress {
        text-align: center; }
  .about-contacts {
    height: 900px; }
    .about-contacts__data {
      margin-top: -135px; }
  .sidebar {
    float: none;
    height: 100%;
    width: 280px;
    background-color: #6C9C5A;
    z-index: 10; }
    .sidebar__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%; }
    .sidebar__link {
      color: #D3E1CE; }
    .sidebar__item {
      padding-left: 17px; }
      .sidebar__item_active .sidebar__link {
        color: #FFFFFF; }
  .content {
    width: 100%;
    float: none;
    padding: 10px 24px; }
  .article {
    margin: auto;
    font-size: 14px;
    line-height: 21px; }
    .article__head {
      font: 30px/36px sansus_webissimoregular; }
  .green-folder a {
    height: 45px;
    margin-left: 280px;
    width: 12px;
    position: fixed;
    top: 50%;
    border-radius: 0 75% 75% 0;
    background-color: #6C9C5A; } }

@media screen and (max-width: 768px) {
  .welcome-block__head {
    font: 21px/28px robotomedium;
    margin-bottom: 0; }
  .welcome-block__text {
    font-size: 14px; }
  .autorize {
    float: none;
    display: inline-block; }
  .autorize-wrap {
    text-align: center; }
  .contact-block,
  .autorize-block,
  .welcome-block {
    width: 300px; }
    .contact-block__nav-menu-link,
    .autorize-block__nav-menu-link,
    .welcome-block__nav-menu-link {
      padding: 0 17px; }
  .footer {
    margin-top: -350px;
    text-align: center; }
    .footer-welcome {
      margin: -60px; }
    .footer__copyright {
      height: 60px; }
    .footer__begin {
      display: block; }
    .footer__main {
      border-left: none; }
    .footer__info {
      height: 290px;
      padding: 0 20px; }
    .footer__links, .footer__descr {
      display: block;
      padding: 15px 0;
      width: 100%;
      border-left: none;
      border-bottom: 1px solid #D5DDD9; }
    .footer__cite {
      border-left: none;
      padding-top: 20px; }
    .footer__item {
      font-size: 13px;
      margin-left: 12px; }
  .background {
    padding-bottom: 350px; }
  .main-header {
    padding-bottom: 0; }
  .arrow__block {
    height: 70px; }
  .main-menu__close {
    width: 28px;
    height: 25px;
    background-size: cover; }
  .vk {
    width: 24px;
    height: 15px; }
  .git {
    width: 21px;
    height: 19px; }
  .in {
    width: 19px;
    height: 17px; }
  .section-header {
    font-size: 35px; }
  .myWorks-header {
    width: 75%; }
  .vision-part {
    height: 255px; }
    .vision-part__img img {
      width: 280px; }
  .descr-part {
    height: 218px; }
    .descr-part__head {
      font-size: 21px; }
    .descr-part__descr {
      margin-bottom: 16px; }
  .navigation-part {
    height: 92px; }
    .navigation-part__img img {
      width: 120px; }
  .reviews__item {
    width: 100%; }
  .contact-block__head {
    font: 21px/28px sansus_webissimoregular; }
  .aboutMe-info {
    padding-left: 0;
    padding-right: 0; }
    .aboutMe-info__text {
      padding: 0 10px;
      line-height: 24px; }
  .aboutMe-skills {
    padding-left: 0;
    padding-right: 0; }
    .aboutMe-skills__text {
      padding: 0 10px;
      line-height: 24px; }
  .about-contacts {
    height: 860px; }
    .about-contacts__data {
      margin-top: -175px; }
  .article__head {
    font: 30px/36px sansus_webissimoregular; }
  .blogs {
    padding-bottom: 350px; } }

@media screen and (max-width: 380px) {
  .about-contacts__data {
    position: static;
    transform: translate(0, 0);
    background-color: #FBFBFB;
    width: 100%;
    border-radius: 0;
    margin-top: 0; }
  .footer-about {
    margin-top: 0; }
  .myWorks-header {
    width: 100%; } }
