body, html {
  height: 100%;
  font-family: robotoregular; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  width: 100%;
  height: auto; }

ul {
  list-style: none;
  padding: 0; }

h1, h2, h3, ul {
  margin: 0; }

a {
  color: #FFFFFF;
  text-decoration: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.hidden {
  display: none; }

.container,
.main-header {
  background-image: url("../img/bg-forest.jpg");
  background-size: cover;
  color: #FFFFFF; }

.main {
  min-height: 100%;
  margin: 0 auto -100px;
  position: relative; }
  .main:after {
    content: "";
    display: block;
    height: 100px;
    margin-top: 20px; }
  .main-works {
    margin: 0 auto -185px; }
    .main-works:after {
      content: "";
      display: block;
      height: 180px;
      margin-top: 20px; }

.content {
  min-height: 450px;
  height: auto; }

.autorize-wrap {
  margin-bottom: 34px;
  padding: 20px; }

.autorize {
  float: right; }
  .autorize__text {
    display: block;
    border: 1px solid #FFFFFF;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    padding: 0 27px;
    font-size: 16px;
    line-height: 43px;
    font-family: "robotobold";
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .autorize__text:hover {
      background: #4E8839;
      border-color: #729E19; }

.welcome-block-wrap {
  padding: 0 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.welcome-block {
  width: 380px;
  margin: auto;
  padding-top: 40px;
  background: rgba(18, 38, 32, 0.6);
  text-align: center;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  overflow: hidden; }
  .welcome-block__photo-wrap {
    width: 140px;
    height: 140px;
    margin: 0 auto 24px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    overflow: hidden;
    background: #E2E2E2; }
  .welcome-block__head {
    font: 28px/34px robotomedium;
    margin-bottom: 12px; }
  .welcome-block__descr {
    color: #BBC3BF;
    margin-bottom: 42px;
    font-size: 16px;
    line-height: 1.5; }
  .welcome-block__soc {
    font-size: 0;
    margin-bottom: 40px; }
  .welcome-block__soc-list {
    display: inline-block; }
  .welcome-block__soc-item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px; }
    .welcome-block__soc-item_first {
      margin-left: 0; }
  .welcome-block__soc-link {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }

.welcome-block__nav-menu {
  font-size: 0; }

.welcome-block__nav-menu-list {
  font-size: 16px;
  display: table;
  width: 100%; }

.welcome-block__nav-menu-item {
  display: table-cell;
  border-left: 2px solid #9FB79C;
  height: 45px; }
  .welcome-block__nav-menu-item_first {
    border-left: none; }

.welcome-block__nav-menu-link {
  display: block;
  line-height: 45px;
  background-color: #5F8A51;
  padding: 0 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: robotomedium; }
  .welcome-block__nav-menu-link:hover {
    background-color: #457935; }

.vk {
  width: 35px;
  height: 20px;
  background-image: url("../img/icons/vk.svg"); }
  .vk:hover {
    opacity: 1;
    background-image: url("../img/icons/vk_hover.svg"); }

.git {
  width: 30px;
  height: 26px;
  background-image: url("../img/icons/github.svg"); }
  .git:hover {
    opacity: 1;
    background-image: url("../img/icons/github_hover.svg"); }

.in {
  width: 27px;
  height: 26px;
  background-image: url("../img/icons/in.svg"); }
  .in:hover {
    opacity: 1;
    background-image: url("../img/icons/in_hover.svg"); }

.autorize-block-wrap {
  padding: 0 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0); }

.autorize-block__enter {
  font-size: 0; }

.autorize-block__enter-list {
  font-size: 16px;
  display: table;
  width: 100%; }

.autorize-block__enter-item {
  display: table-cell;
  border-left: 2px solid #9FB79C;
  height: 45px; }
  .autorize-block__enter-item_first {
    border-left: none; }

.autorize-block__enter-link {
  display: block;
  line-height: 45px;
  background-color: #5F8A51;
  padding: 0 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: robotomedium; }
  .autorize-block__enter-link:hover {
    background-color: #457935; }

.autorize-block__enter-list {
  table-layout: fixed; }

.autorize-block {
  width: 380px;
  margin: auto;
  padding-top: 40px;
  background: rgba(18, 38, 32, 0.6);
  text-align: center;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  overflow: hidden; }
  .autorize-block__head {
    font: 35px/41px sansus_webissimoregular;
    text-transform: uppercase; }
  .autorize-block__head:after {
    content: "";
    display: block;
    margin: 16px auto 25px;
    width: 90px;
    height: 3px;
    background-color: #FFFFFF; }
  .autorize-block__form {
    padding: 0 20px; }
  .autorize-block__data {
    margin-bottom: 20px; }
  .autorize-block__input-text {
    width: 100%;
    padding: 15px 20px;
    border: none;
    outline: none; }
    .autorize-block__input-text_textarea {
      height: 140px;
      -webkit-border-radius: 20px;
              border-radius: 20px;
      resize: none; }
  .autorize-block__textarea, .autorize-block__email, .autorize-block__login, .autorize-block__password {
    position: relative;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    overflow: hidden;
    color: #C4CBCD; }
  .autorize-block__textarea {
    -webkit-border-radius: 20px;
            border-radius: 20px; }
  .autorize-block__check {
    display: inline-block;
    cursor: pointer;
    padding: 0 30px;
    position: relative; }
    .autorize-block__check:before {
      content: "";
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      background-color: #77A266;
      background-image: url("../img/icons/check.svg");
      background-repeat: no-repeat;
      background-position: center center;
      left: 1px;
      top: 2px; }
  .autorize-block__text {
    margin-bottom: 10px;
    font-family: robotobold; }
  .autorize-block__choice1, .autorize-block__choice2 {
    display: inline-block;
    font-family: robotomedium; }
    .autorize-block__choice1 input, .autorize-block__choice2 input {
      outline: none; }
  .autorize-block__choice1 {
    margin-right: 40px; }

.autorize-block__login:before,
.autorize-block__password:before {
  content: "";
  display: block;
  position: absolute;
  width: 44px;
  height: 55px;
  left: 0;
  top: 0;
  background-color: #F0EFE9; }

.autorize-block__login:after,
.autorize-block__password:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 15px;
  top: 17px;
  background-repeat: no-repeat; }

.autorize-block__login:after {
  background-image: url("../img/icons/login.svg"); }

.autorize-block__password:after {
  background-image: url("../img/icons/password.svg"); }

.autorize-block__input-text {
  padding-left: 60px; }

.footer__copyright {
  text-align: center;
  font-weight: bold;
  color: #D5DDD9;
  font-size: 15px;
  min-height: 100px; }
  .footer__copyright_works {
    min-height: 40px;
    background-color: rgba(108, 156, 90, 0.85); }
    .footer__copyright_works:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 40px; }

.footer__text {
  display: inline-block;
  padding: 0 5px;
  border-left: 1px solid #D5DDD9; }

.footer__begin {
  border-left: none; }

.footer__info {
  position: relative;
  min-height: 145px;
  background-color: rgba(55, 62, 66, 0.85);
  width: 100%;
  display: table;
  table-layout: fixed;
  padding: 25px 0;
  color: #FFFFFF; }

.footer__info-block {
  display: table-cell;
  border-left: 1px solid #9B9FA1;
  padding: 0 25px; }

.footer__descr {
  border-left: none;
  font-family: robotolight; }

.footer__list {
  font-size: 0; }

.footer__item {
  font-size: 16px;
  display: inline-block;
  margin-left: 18px; }
  .footer__item_first {
    margin-left: 0; }

.footer__soc {
  margin-bottom: 10px;
  margin-top: 30px;
  font-family: robotobold; }
  .footer__soc .vk:hover {
    background-image: url("../img/icons/vk_hover_white.svg"); }
  .footer__soc .git:hover {
    background-image: url("../img/icons/github_hover_white.svg"); }
  .footer__soc .in:hover {
    background-image: url("../img/icons/in_hover_white.svg"); }

.footer__cite {
  font-family: robotoitalic; }
  .footer__cite__author {
    font-weight: bold; }

@media screen and (max-width: 1200px) {
  .contact-block,
  .autorize-block,
  .welcome-block {
    width: 348px; }
    .contact-block__nav-menu-link,
    .autorize-block__nav-menu-link,
    .welcome-block__nav-menu-link {
      padding: 0 25px; }
  .main-works {
    margin: 0 auto -280px; }
    .main-works:after {
      height: 275px; }
  .section-header {
    font-size: 47px; }
  .section-header:after {
    content: "";
    display: block;
    margin: 5px auto 20px;
    width: 90px;
    height: 3px;
    background-color: #373E42; }
  .myWorks__header {
    max-width: 520px; }
  .descr-part,
  .vision-part,
  .navigation-part {
    width: 100%;
    float: none; }
  .descr-part {
    height: 275px; }
    .descr-part__head {
      font-size: 30px; }
    .descr-part__head:after {
      content: "";
      display: block;
      margin: 15px auto 20px;
      width: 90px;
      height: 3px;
      background-color: #566358; }
    .descr-part__descr {
      margin-bottom: 40px; }
  .footer__cite {
    display: block; }
  .footer__info {
    min-height: 240px; }
  .footer__links {
    display: inline-block;
    width: 50%; }
  .footer__descr {
    display: inline-block;
    width: 50%; }
  .footer__cite {
    clear: both;
    width: 100%; } }

@media screen and (max-width: 768px) {
  .welcome-block__head {
    font: 21px/28px robotomedium;
    margin-bottom: 0; }
  .welcome-block__text {
    font-size: 14px; }
  .autorize {
    float: none;
    display: inline-block; }
  .autorize-wrap {
    text-align: center; }
  .contact-block,
  .autorize-block,
  .welcome-block {
    width: 300px; }
    .contact-block__nav-menu-link,
    .autorize-block__nav-menu-link,
    .welcome-block__nav-menu-link {
      padding: 0 17px; }
  .footer__begin {
    display: block; }
  .footer__main {
    border-left: none; }
  .main-header {
    padding-bottom: 0; }
  .arrow__block {
    height: 70px; }
  .main-menu__close {
    width: 28px;
    height: 25px;
    background-size: cover; }
  .vk {
    width: 24px;
    height: 15px; }
  .git {
    width: 21px;
    height: 19px; }
  .in {
    width: 19px;
    height: 17px; }
  .section-header {
    font-size: 35px; }
  .vision-part {
    height: 255px; }
  .descr-part {
    height: 218px; }
    .descr-part__head {
      font-size: 21px; }
    .descr-part__descr {
      margin-bottom: 16px; }
  .navigation-part {
    height: 92px; }
  .reviews__item {
    width: 100%; }
  .contact-block__head {
    font: 21px/28px sansus_webissimoregular; }
  .footer {
    text-align: center; }
  .footer__links,
  .footer__descr {
    display: block;
    width: 100%; } }
