.welcome-block-wrap
	.welcome-block
		.welcome-block__photo-wrap
			img.welcome-block__photo(src="img/avatar2.png", alt="web developer photo")
		h2.welcome-block__head Денис Бекленищев
		.welcome-block__descr
			span.welcome-block__text Личный сайт веб-разработчика
		.welcome-block__soc Ищите в социальных сетях
			ul.welcome-block__soc-list
				li.welcome-block__soc-item.welcome-block__soc-item_first
					a(href="#").welcome-block__soc-link.vk Вконтакте
				li.welcome-block__soc-item
					a(href="#").welcome-block__soc-link.git ГитХаб
				li.welcome-block__soc-item
					a(href="#").welcome-block__soc-link.in Линкедин
		nav.welcome-block__nav-menu Навигация по сайту
			ul.welcome-block__nav-menu-list
				li.welcome-block__nav-menu-item.welcome-block__nav-menu-item_first
					a(href="works.html").welcome-block__nav-menu-link Мои работы
				li.welcome-block__nav-menu-item
					a(href="#").welcome-block__nav-menu-link Обо мне
				li.welcome-block__nav-menu-item
					a(href="#").welcome-block__nav-menu-link Блог