extends blocks/template.jade

block title
	title About

block arrow
	a(href="#about").arrow__link.arrow__link_relative Перейти к информации обо мне

block content
	section.aboutMe
		.aboutMe-info
			header#about.section-header.aboutMe__header
				h2.aboutMe__head Обо мне
			.aboutMe-info__photo
				img(src="img/avatar2.svg", alt="web developer photo")
			.about-info__descr
				h3.aboutMe-info__head Кто я
				p.aboutMe-info__text 
					|Я веб-разработчик из Каменска-Уральского. Мне 29 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
				p.aboutMe-info__text 
					|Этот сайт я сделал 	в рамках обучения в Школе онлайн-образования LoftSchool. Чуть позже я освежу в нем контент. А пока посмотрите, как тут всё классно и красиво!
		.aboutMe-skills
			h2.aboutMe-skills__head Чем я могу быть вам полезен
			p.aboutMe-skills__text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
			.aboutMe-skills__progress
				ul.aboutMe-skills__list-outer
					li.aboutMe-skills__item-outer Frontend
						ul.aboutMe-skills__list-inner
							li.aboutMe-skills__item-inner
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class="html sector") 
								.aboutMe-skills__tech HTML5
							li.aboutMe-skills__item-inner
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class="css sector")  
								.aboutMe-skills__tech CCS3
							li.aboutMe-skills__item-inner 
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class="js sector") 
								.aboutMe-skills__tech JavaScript & jQuery
					li.aboutMe-skills__item-outer Backend
						ul.aboutMe-skills__list-inner
							li.aboutMe-skills__item-inner 
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class="php sector") 
								.aboutMe-skills__tech PHP
							li.aboutMe-skills__item-inner 
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class="mysql sector") 
								.aboutMe-skills__tech mySQL
							li.aboutMe-skills__item-inner 
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class="node sector") 
								.aboutMe-skills__tech Node.js & npm
							li.aboutMe-skills__item-inner 
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class="mongo sector") 
								.aboutMe-skills__tech Mongo.db
					li.aboutMe-skills__item-outer Workflow
						ul.aboutMe-skills__list-inner
							li.aboutMe-skills__item-inner 
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class="git sector") 
								.aboutMe-skills__tech Git
							li.aboutMe-skills__item-inner 
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class=" gulp sector") 
								.aboutMe-skills__tech Gulp
							li.aboutMe-skills__item-inner 
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class="bower sector") 
								.aboutMe-skills__tech Bower

	section.about-contacts
		.about-contacts__wrap
			.about-contacts__data
				h3.about-contacts__head Контакты
				ul.about-contacts__list
					li.about-contacts__item
						a(href="#").about-contacts__link.about-contacts__skype denny13241
					li.about-contacts__item
						a(href="#").about-contacts__link.about-contacts__email beckass86@gmail.com
					li.about-contacts__item
						a(href="#").about-contacts__link.about-contacts__phone +7 912 698 79 25
					li.about-contacts__item
						a(href="#").about-contacts__link.about-contacts__address Каменск-Уральский