extends blocks/template.jade

block title
	title About

block arrow
	a(href="#about").arrow__link.arrow__link_relative Перейти к информации обо мне

block content
	section.aboutMe
		.aboutMe-info
			header#about.section-header.aboutMe__header
				h2.aboutMe__head Обо мне
			.aboutMe-info__photo
				img(src="img/my-photo.jpg", alt="web developer photo")
			.about-info__description
				h3.aboutMe-info__head Кто я
				p.aboutMe-info__text 
					|Я веб-разработчик из Каменска-Уральского. Мне 29 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
				p.aboutMe-info__text 
					|Этот сайт я сделал 	в рамках обучения в Школе онлайн-образования LoftSchool. Чуть позже я освежу в нем контент. А пока посмотрите, как тут всё классно и красиво!
		.aboutMe-skills
			h2.aboutMe-skills__head Чем я могу быть вам полезен
			p.aboutMe-skills__text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
			.aboutMe-skills__progress
				ul.aboutMe-skills__list-outer
					li.aboutMe-skills__item-outer Frontend
						ul.aboutMe-skills__list-inner
							li.aboutMe-skills__item-inner
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class="s-html sector") 
								.aboutMe-skills__tech HTML5
							li.aboutMe-skills__item-inner
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class="s-css sector")  
								.aboutMe-skills__tech CCS3
							li.aboutMe-skills__item-inner 
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class="s-js sector") 
								.aboutMe-skills__tech JavaScript & jQuery
					li.aboutMe-skills__item-outer Backend
						ul.aboutMe-skills__list-inner
							li.aboutMe-skills__item-inner 
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class="s-php sector") 
								.aboutMe-skills__tech PHP
							li.aboutMe-skills__item-inner 
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class="s-mysql sector") 
								.aboutMe-skills__tech mySQL
							li.aboutMe-skills__item-inner 
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class="s-node sector") 
								.aboutMe-skills__tech Node.js & npm
							li.aboutMe-skills__item-inner 
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class="s-mongo sector") 
								.aboutMe-skills__tech Mongo.db
					li.aboutMe-skills__item-outer Workflow
						ul.aboutMe-skills__list-inner
							li.aboutMe-skills__item-inner 
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class="s-git sector") 
								.aboutMe-skills__tech Git
							li.aboutMe-skills__item-inner 
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class="s-gulp sector") 
								.aboutMe-skills__tech Gulp
							li.aboutMe-skills__item-inner 
								svg(width="110" height="110" class="g-circles")
									circle(r="45" cx="55" cy="55" stroke="#ccc" fill="none")
									circle(r="45" cx="55" cy="55"  class="s-bower sector") 
								.aboutMe-skills__tech Bower

	section.about-contacts
		.about-contacts__data
			h3.about-contacts__head Контакты
			ul.about-contacts__list
				each val in [ skype, email, phone, address ]
					li.about-contacts__item
						a(href="#{val.href}" target="_blank").about-contacts__link.about-contacts__=val.elem= val.text
				
		iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8828.329385310415!2d61.90995904636763!3d56.414643284300205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1466280754819" allowfullscreen).about-contacts__map
		