- var blogs = [ "Самое важное в SASS", "Приемы в вёрстке, без которых не обходится ни один сайт", "Самый необходимый набор Gulp плагинов", "Почему я выбрал Jade" ]


html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		title Document
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		link(rel="stylesheet", href="fonts/stylesheet.css")
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/blog.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/works.css")
		link(rel="stylesheet", href="css/about.css")

	body
		<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		.main
			header#blog-header.main-header
				include header
				.arrow__block
					a(href="#blog").arrow__link.arrow__link_relative Перейти к моим работам
			.green-folder
				a(href="#content-table") Перейти к оглавлению блогов


			section.blogs
				.content__wrap
					aside#content-table.sidebar
						ul.sidebar__list
							each item, idx in blogs
								li.sidebar__item
									a.sidebar__link(href="#article-#{blogs.length-idx}")= item

					.content
						h2#blog.content__head Последние опубликованные статьи
						article#article-4.article
							h3.article__head Самое важное в SASS
							p.article__date
								time(datetime="2016-11-22" pubdate) 22 ноября 2016
							p Таким образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что консультация с широким активом представляет собой интересный эксперимент проверки форм развития. Повседневная практика показывает, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Разнообразный и богатый опыт укрепление и развитие структуры позволяет выполнять важные задания по разработке существенных финансовых и административных условий.

							p Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Разнообразный и богатый опыт укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.

							p Таким образом реализация намеченных плановых заданий играет важную роль в формировании направлений прогрессивного развития. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке соответствующий условий активизации. Таким образом новая модель организационной деятельности требуют от нас анализа существенных финансовых и административных условий.
						article#article-3.article
							h3.article__head Приемы в верстке, без которых не обходится ни один сайт
							p.article__date
								time(datetime="2016-11-13" pubdate) 13 ноября 2016
							p Таким образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что консультация с широким активом представляет собой интересный эксперимент проверки форм развития. Повседневная практика показывает, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Разнообразный и богатый опыт укрепление и развитие структуры позволяет выполнять важные задания по разработке существенных финансовых и административных условий.

							p Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Разнообразный и богатый опыт укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.

							p Таким образом реализация намеченных плановых заданий играет важную роль в формировании направлений прогрессивного развития. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке соответствующий условий активизации. Таким образом новая модель организационной деятельности требуют от нас анализа существенных финансовых и административных условий.
						article#article-2.article
							h3.article__head Самый необходимый набор Gulp плагинов
							p.article__date
								time(datetime="2016-10-29" pubdate) 29 октября 2016
							p Таким образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что консультация с широким активом представляет собой интересный эксперимент проверки форм развития. Повседневная практика показывает, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Разнообразный и богатый опыт укрепление и развитие структуры позволяет выполнять важные задания по разработке существенных финансовых и административных условий.

							p Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Разнообразный и богатый опыт укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.

							p Таким образом реализация намеченных плановых заданий играет важную роль в формировании направлений прогрессивного развития. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке соответствующий условий активизации. Таким образом новая модель организационной деятельности требуют от нас анализа существенных финансовых и административных условий.
						article#article-1.article
							h3.article__head Приемы в верстке, без которых не обходится ни один сайт
							p.article__date
								time(datetime="2016-10-04" pubdate) 4 октября 2016
							p Таким образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что консультация с широким активом представляет собой интересный эксперимент проверки форм развития. Повседневная практика показывает, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Разнообразный и богатый опыт укрепление и развитие структуры позволяет выполнять важные задания по разработке существенных финансовых и административных условий.

							p Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Разнообразный и богатый опыт укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.

							p Таким образом реализация намеченных плановых заданий играет важную роль в формировании направлений прогрессивного развития. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке соответствующий условий активизации. Таким образом новая модель организационной деятельности требуют от нас анализа существенных финансовых и административных условий.




		
		include footer

		script(src="js/libs.min.js")
		script(src="js/common.js")