footer.footer
	.footer__info
		.footer__info-block.footer__descr
			p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
		.footer__info-block.footer__links 
			ul.footer__list Навигация по сайту
				li.footer__item.footer__item_first
					a.footer__link(href="") Мои работы
				li.footer__item
					a.footer__link(href="") Обо мне
				li.footer__item
					a.footer__link(href="") Блог
				li.footer__item
					a.footer__link(href="") Авторизация
			.footer__soc.welcome-block__soc Ищите в социальных сетях
				ul.welcome-block__soc-list
					li.welcome-block__soc-item.welcome-block__soc-item_first
						a(href="#").welcome-block__soc-link.vk Вконтакте
					li.welcome-block__soc-item
						a(href="#").welcome-block__soc-link.git ГитХаб
					li.welcome-block__soc-item
						a(href="#").welcome-block__soc-link.in Линкедин
		.footer__info-block.footer__cite
			blockquotes
				p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
			p.footer__author — Martin Golding
	.footer__copyright.footer__copyright_works 
		.footer__text.footer__begin &copy; Денис Бекленищев 
		.footer__text.footer__main создано с любовью в LoftSchool 
		.footer__text.footer__end 2016