.header-wrap
	.top-menu.clearfix
		include soc-items
		.main-menu
			.main-menu__close

			.main-menu__open.hidden Главное меню
				ul.main-menu__list
					li.main-menu__item
						a.main-menu__link(href="works.html") Мои работы
					li.main-menu__item
						a.main-menu__link(href="blog.html") Блог
					li.main-menu__item
						a.main-menu__link(href="about.html") Обо мне
					li.main-menu__item
						a.main-menu__link(href="index.html") Авторизация
	.info-block
		.welcome-block__photo-wrap
			img.welcome-block__photo(src="img/avatar2.png" alt="web developer photo")
		h2.welcome-block__head Денис Бекленищев
		.welcome-block__descr
			span.welcome-block__text Личный сайт веб-разработчика
