
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		title Document
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		

		link(rel="stylesheet", href="fonts/libs.css")
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/main.css")
	body
		<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		.container
			.main
				.autorize-wrap.clearfix
					.autorize
						a(href="#").autorize__text Авторизоваться
				include _menu-block.jade
				include _autorize-block.jade
			footer.footer-wrap
				.footer 
					.footer__text.footer__begin &copy; Денис Бекленищев 
					.footer__text.footer__main создано с любовью в LoftSchool 
					.footer__text.footer__end 2016
		script(src="js/libs.min.js")
		script(src="js/common.js")
	