.welcome-block__soc Ищите в социальных сетях
	ul.welcome-block__soc-list
		li.welcome-block__soc-item.welcome-block__soc-item_first
			a(href="https://vk.com/den_beck" target="_blank").welcome-block__soc-link.vk Вконтакте
		li.welcome-block__soc-item
			a(href="https://github.com/DenisBeck" target="_blank").welcome-block__soc-link.git ГитХаб
		li.welcome-block__soc-item
			a(href="#" target="_blank").welcome-block__soc-link.in Линкедин