extends ./blocks/template.jade

block title
	title Works

block arrow
	a(href="#myWorks").arrow__link.arrow__link_relative Перейти к моим работам

block content
	section.myWorks.clearfix
		header#myWorks.section-header.myWorks__header
			.myWorks__wrap
				h2.myWorks__head Мои работы
		.vision-part  
			.vision-part__wrap
				.vision-part__container
					ul.vision-part__list
						for item in works
							+myWork-vision(item)
		.description-part
			.description-part__wrap
				.description-part__block
					ul.description-part__list
						for item in works
							+myWork-description(item)
		.navigation-part
			.navigation-part__block.navigation-part__prev
				.navigation-part__wrap
					ul.navigation-part__list
						for item in works
							+myWork-navigation(item)
				.navigation-part__arrow
			.navigation-part__block.navigation-part__next
				.navigation-part__wrap
					ul.navigation-part__list
						for item in works
							+myWork-navigation(item)
				.navigation-part__arrow.navigation-part__arrow_up
	.background
		section.reviews
			header.section-header.reviews__header
				h2.reviews__head Что обо мне говорят
			.reviews__block
				ul.reviews__list
					for item in reviews
						+review(item)

		section.contact
			.contact-block-wrap
				.contact-block
					h1.contact-block__head Связаться со мной
					form.contact-block__form
						.contact-block__data.contact-block__login
							input(type="text" placeholder="Имя").contact-block__input-text
						.contact-block__data.contact-block__email
							input(type="email" placeholder="Email").contact-block__input-text
						.contact-block__data.contact-block__textarea
							textarea(placeholder="Ваше сообщение").contact-block__input-text.contact-block__input-text_textarea
						.contact-block-enter Отправить или очистить?
							ul.contact-block-enter__list
								li.contact-block-enter__item.contact-block-enter__item_first
									input(type="submit" value="Отправить").contact-block-enter__link 
								li.contact-block-enter__item
									input(type="reset" value="Очистить").contact-block-enter__link 
		
		.arrow__block.arrow__block_up
			a(href="#main-header").arrow__link.arrow__link_up Перейти в начало
			
	