extends ./blocks/template.jade

block title
	title Works

block arrow
	a(href="#myWorks").arrow__link.arrow__link_relative Перейти к моим работам

block content
	section.myWorks.clearfix
		header#myWorks.section-header.myWorks__header
			h2.myWorks__head Мои работы
		.vision-part  
			.vision-part__wrap
				.vision-part__container
					ul.vision-part__list
						for item in works
							+myWork-vision(item)
		.descr-part
			.descr-part__wrap
				.descr-part__block
					ul.descr-part__list
						for item in works
							+myWork-descr(item)
		.navigation-part
			.navigation-part__block.navigation-part__prev
				.navigation-part__wrap
					ul.navigation-part__list
						for item in works
							+myWork-navigation(item)
				.navigation-part__arrow
			.navigation-part__block.navigation-part__next
				.navigation-part__wrap
					ul.navigation-part__list
						for item in works
							+myWork-navigation(item)
				.navigation-part__arrow.navigation-part__arrow_up
	.background
		section.reviews
			header.section-header.reviews__header
				h2.reviews__head Что обо мне говорят
			.reviews__block
				ul.reviews__list
					for item in reviews
						+review(item)

		section.contact
			.contact-block-wrap
				.contact-block
					h1.contact-block__head Связаться со мной
					form.contact-block__form
						.contact-block__data.contact-block__login
							input(type="text" placeholder="Имя").contact-block__input-text
						.contact-block__data.contact-block__email
							input(type="email" placeholder="Email").contact-block__input-text
						.contact-block__data.contact-block__textarea
							textarea(placeholder=" Ваше сообщение").contact-block__input-text.contact-block__input-text_textarea
					.contact-block__enter Отправить или очистить?
						ul.contact-block__enter-list
							li.contact-block__enter-item.contact-block__enter-item_first
								a(href="#").contact-block__enter-link Отправить
							li.contact-block__enter-item
								a(href="#").contact-block__enter-link Очистить
		
		.arrow__block
			a(href="#main-header").arrow__link.arrow__link_up Перейти в начало
			
	