include blocks/mixins

html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		title Document
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		link(rel="stylesheet", href="fonts/stylesheet.css")
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/works.css")

	body
		<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		
		.main.main-works.background
			header#works-header.main-header
				include blocks/header
				.arrow__block
					a(href="#myWorks").arrow__link.arrow__link_relative Перейти к моим работам

			section.myWorks.clearfix
				header#myWorks.section-header.myWorks__header
					h2.myWorks__head Мои работы
				.vision-part  
					.vision-part__wrap
						.vision-part__container
				.descr-part
					.descr-part__wrap
						.descr-part__block
							ul.descr-part__list
								for item in works
									+myWork-descr(item)
				.navigation-part
					.navigation-part__block.navigation-part__prev
						.navigation-part__wrap
						.navigation-part__arrow
					.navigation-part__block.navigation-part__next
						.navigation-part__wrap
						.navigation-part__arrow.navigation-part__arrow_up

			section.reviews
				header.section-header.reviews__header
					h2.reviews__head Что обо мне говорят
				.reviews__block
					ul.reviews__list
						for item in reviews
							+review(item)

			section.contact
				.contact-block-wrap
					.contact-block
						h1.contact-block__head Связаться со мной
						form.contact-block__form
							.contact-block__data.contact-block__login
								input(type="text" placeholder="Имя").contact-block__input-text
							.contact-block__data.contact-block__email
								input(type="email" placeholder="Email").contact-block__input-text
							.contact-block__data.contact-block__textarea
								textarea(placeholder=" Ваше сообщение").contact-block__input-text.contact-block__input-text_textarea
						.contact-block__enter Отправить или очистить?
							ul.contact-block__enter-list
								li.contact-block__enter-item.contact-block__enter-item_first
									a(href="#").contact-block__enter-link Отправить
								li.contact-block__enter-item
									a(href="#").contact-block__enter-link Очистить
			
			.arrow__block
				a(href="#works-header").arrow__link.arrow__link_up Перейти в начало
			
		include blocks/footer
		
		script(src="js/libs.min.js")
		script(src="js/common.js")
	