.welcome-block__socials Ищите в социальных сетях
	ul.welcome-block__socials-list
		li.welcome-block__socials-item.welcome-block__socials-item_first
			a(href="https://vk.com/den_beck" target="_blank").welcome-block__socials-link.vk Вконтакте
		li.welcome-block__socials-item
			a(href="https://github.com/DenisBeck" target="_blank").welcome-block__socials-link.git ГитХаб
		li.welcome-block__socials-item
			a(href="https://ru.linkedin.com/" target="_blank").welcome-block__socials-link.in Линкедин