.autorize-block-wrap
	padding: 0 10px

+menuButtons(".autorize-block__enter")
.autorize-block__enter-list
	table-layout: fixed


+formStyle(".autorize-block")

.autorize-block__login,
.autorize-block__password
	&:before
		content: ""
		display: block
		position: absolute
		width: 44px
		height: 55px
		left: 0
		top: 0
		background-color: #F0EFE9 
	&:after
		position: absolute
		content: ""
		width: 20px
		height: 20px
		left: 15px
		top: 17px
		background-repeat: no-repeat
.autorize-block__login
	&:after
		background-image: url('../img/icons/login.svg')
.autorize-block__password
	&:after
		background-image: url('../img/icons/password.svg')
.autorize-block__input-text
	padding-left: 60px		




	




