@import "mixins"

.autorize-block-wrap
	padding: 10px
	+centering

+menuButtons(".autorize-block-enter")
.autorize-block-enter__list
	table-layout: fixed
.autorize-block-enter__link
	width: 100%
	border: none
	outline: none
	color: #FFFFFF
	cursor: pointer
	&_admin
		border-radius: 8px
.autorize-block-enter__area
	height: 350px
	width: 100%
	position: relative
.autorize-block-enter__big-button
	height: auto
	+centering



+formStyle(".autorize-block")

.autorize-block
	position: relative
	&__login,
	&__password
		&:before
			content: ""
			display: block
			position: absolute
			width: 44px
			height: 55px
			left: 0
			top: 0
			background-color: #F0EFE9 
		&:after
			position: absolute
			content: ""
			width: 20px
			height: 20px
			left: 16px
			top: 15px
			background-repeat: no-repeat
	&__login
		&:after
			background-image: url('../img/icons/login.svg')
	&__password
		&:after
			background-image: url('../img/icons/password.svg')
	&__input-text
		padding-left: 60px		
	&__form
		padding-top: 40px






	




