
@media screen and (max-width: 1200px)
	//Главная страница
	.autorize-block,
	.welcome-block
		width: 348px
		&__nav-menu-link
			padding: 0 25px

	//Страница Works
	.section-header
		font-size: 47px
	.descr-part,
	.vision-part
		width: 100%
		float: none
	.descr-part
		&__head
			font-size: 30px

@media screen and (max-width: 768px) 
	.autorize
		float: none
		display: inline-block
	.autorize-wrap
		text-align: center
	.autorize-block,
	.welcome-block
		width: 300px
		&__nav-menu-link
			padding: 0 18px
	.footer__begin
		display: block 
	.footer__main
		border-left: none



