

.welcome-block-wrap
	padding: 10px
	display: block
	transition: all 0.5s
	+centering
	&_hide
		display: none


.welcome-block
	+viewWindow
	&__photo-wrap
		width: 140px
		height: 140px
		margin: 0 auto 24px
		border-radius: 50%
		overflow: hidden
		background: #E2E2E2
	&__head
		font: 28px/34px robotomedium
		margin-bottom: 12px
	&__descr
		color: #BBC3BF
		margin-bottom: 42px
		font-size: 16px
		line-height: 1.5
	&__soc
		font-size: 0
		margin-bottom: 40px
	&__soc-list
		display: inline-block
	&__soc-item
		display: inline-block
		vertical-align: middle
		margin-left: 25px
		&_first
			margin-left: 0
	&__soc-link
		display: block
		background-repeat: no-repeat
		background-size: cover
		opacity: .5
		transition: all 0.3s


+menuButtons(".welcome-block__nav-menu")

.vk
	width: 35px
	height: 20px
	background-image: url('../img/icons/vk.svg') 
	&:hover
		opacity: 1
		background-image: url("../img/icons/vk_hover.svg")
.git
	width: 30px
	height: 26px
	background-image: url('../img/icons/github.svg') 
	&:hover
		opacity: 1
		background-image: url("../img/icons/github_hover.svg")
.in
	width: 27px
	height: 26px
	background-image: url('../img/icons/in.svg')
	&:hover
		opacity: 1
		background-image: url("../img/icons/in_hover.svg")


