//Переменные
$textColor: #373E42
$baseColor: #6C9C5A

// Стилизация кнопок меню
=menuButtons ($class)
	#{$class}
		font-size: 0
	#{$class}-list
		font-size: 16px
		display: table
		width: 100%
	#{$class}-item
		display: table-cell
		border-left: 2px solid #9FB79C
		height: 45px
		&_first
			border-left: none
	#{$class}-link
		display: block
		line-height: 45px
		background-color: #5F8A51
		padding: 0 30px
		transition: all 0.3s
		font-family: robotomedium
		&:hover
			background-color: #457935

//Стилизация внешнего вида приветственного окна
=viewWindow
	width: 380px
	margin: auto
	padding-top: 40px
	background: rgba(18, 38, 32, .6)
	text-align: center
	border-radius: 5px
	overflow: hidden

//Стилизация подстрочной линии
=underline($elem, $heightUp, $heightDown, $color)
	#{$elem}:after
		content: ""
		display: block
		margin: $heightUp auto $heightDown
		width: 90px
		height: 3px
		background-color: $color
	
//Выравнивание по центру
=centering
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
//Очистка стилей выравнивания
=uncentering
	position: static
	transform: translate(0, 0)

//Стилизация формы
=formStyle($class)
	#{$class}
		+viewWindow
		&__head
			font: 35px/41px sansus_webissimoregular
			text-transform: uppercase
		+underline("&__head", 16px, 25px, #FFFFFF)
		&__form
			padding: 0 20px
		&__data
			margin-bottom: 20px
		&__input-text
			width: 100%
			padding: 15px 20px
			border: none
			outline: none
			&_textarea
				height: 140px
				border-radius: 20px
				resize: none
		&__textarea,
		&__email,
		&__login,
		&__password
			position: relative
			border-radius: 50px
			overflow: hidden
			color: #C4CBCD
		&__textarea
			border-radius: 20px
		&__check
			display: inline-block
			cursor: pointer
			padding: 0 30px
			position: relative
			&:before
				content: ""
				position: absolute
				display: block
				width: 20px
				height: 20px
				border-radius: 3px
				background-color: #77A266
				background-image: url('../img/icons/check.svg')
				background-repeat: no-repeat
				background-position: center center
				left: 1px
				top: 2px
			
		&__text
			margin-bottom: 10px
			font-family: robotobold
		&__choice1,
		&__choice2 
			display: inline-block
			font-family: robotomedium
			input 
				outline: none
		&__choice1
			margin-right: 40px

//Заголовки
=header-h3($class, $color)
	#{$class}
		max-width: 300px
		padding-top: 20px
		font: 35px/41px sansus_webissimoregular
		text-transform: uppercase
		margin: auto
		text-align: center
		color: $color
	+underline(#{$class}, 14px, 20px, $color)
	@media screen and (max-width: 1200px)
		#{$class}
			font: 30px/36px sansus_webissimoregular
	+underline(#{$class}, 5px, 15px, $color)
