
.reviews
	margin: auto
	width: 775px
.reviews__item
	width: 50%
	vertical-align: top
	display: inline-block
	margin-right: -4px
	margin-bottom: 60px;
	text-align: center
	p 
		font-size: 16px
.reviews__photo
	width: 78px
	height: 78px
	border-radius: 50%
	margin: auto
	overflow: hidden
.reviews__text
	line-height: 26px
	text-align: left
	&:before
		content: "\201c"
	&:after
		content: "\201d"
.reviews__name
	color: #4E8839


