@import "mixins"
@import "reviews"

.background
	background-image: url('../img/bg-ground.jpg')
	background-position: center bottom
	background-repeat: repeat-x
	padding-bottom: 185px



.main-menu
	float: right
	&__close
		width: 40px
		height: 40px
		background-image: url('../img/icons/hamburger.svg')
		background-repeat: no-repeat
		cursor: pointer
	&__open
		position: fixed
		top: 0
		right: 0
		left: 0
		bottom: 0
		z-index: 10
		background-color: $baseColor
		opacity: 0.87	
		font-size: 0
	&__list
		font-size: 35px
		text-transform: uppercase
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center
	&__link
		display: inline-block
	+underline("&__link", 22px, 30px, transparent)
	+underline("&__link:hover", 22px, 30px, #FFFFFF)

.info-block
	+centering
	+viewWindow
	background-color: transparent
.welcome-block__head
	font-size: 35px
.welcome-block__descr
	color: #FFFFFF

.arrow__block
	height: 90px
.arrow__link
	margin: auto
	background-image: url('../img/icons/arrow_down.svg')
	background-repeat: no-repeat
	display: block
	width: 26px
	height: 20px
	font-size: 0
	&_relative	
		position: relative
	&_up
		transform: rotate(180deg) translateY(15px)


	
.myWorks
	margin-top: -8.5%
	background-image: url('../img/icons/bg.svg')
	background-size: 101%
	padding-top: 8.5%
	background-repeat: no-repeat
	&__header
		margin: auto
		width: 50%
		position: relative
		&:before
			content: ""
			display: block
			position: absolute
			width: 100%
			height: 150px
			top: -45px
			background-image: url('../img/icons/works_header.svg')
			background-repeat: no-repeat
			background-position: center 0
			background-size: 100% 100%
			opacity: 0.2
.descr-part,
.vision-part,
.navigation-part
	width: 50%

.descr-part
	height: 748px
	float: left
	background-color: #EBEFE2
	&__wrap
		position: relative
		height: 100%
	&__block
		width: 80%
		text-align: center
		+centering
	&__item
		display: none
		font-family: robotomedium
		&:first-of-type
			display: block
	&__head
		font-size: 35px
		font-family: sansus_webissimoregular
		color: #566358
		text-transform: uppercase
	+underline("&__head", 30px, 25px, #566358)
	&__descr
		font-size: 16px
		color: #6C9C5A
		text-transform: uppercase
		text-align: center
		margin-bottom: 60px
	&__visit
		display: inline-block
		background-color: $baseColor
		padding: 12px 25px 12px 15px
		font-size: 16px
		border-radius: 50px
		&:before
			content: ""
			display: inline-block
			vertical-align: middle
			width: 20px
			height: 20px
			margin-right: 16px
			background-image: url('../img/icons/link.svg')
			background-repeat: no-repeat


.vision-part
	float: right
	height: 525px
	background-color: #E1E4D7
	&__wrap
		position: relative
		height: 100%
	&__container
		width: 80%
		text-align: center
		+centering
	&__img
		width: 100%
	&__item
		display: none
		&:first-of-type
			display: block
.navigation-part
	float: right
	height: 223px
	&__block
		background-color: $textColor
		width: 50%
		position: relative
		height: 100%
	&__wrap
		+centering
		width: 280px
		text-align: center
	&__item
		display: none
		&:first-of-type
			display: block
	&__prev
		float: left
		opacity: 0.4
		.descr-part__img
			opacity: 0.5
	&__next
		float: right
		opacity: 0.5
		.descr-part__img
			opacity: 0.5
	&__arrow
		width: 25px
		height: 20px
		background-image: url('../img/icons/arrow_down.svg')
		background-repeat: no-repeat
		cursor: pointer
		+centering
		&_up
			transform: rotate(180deg) translateY(15px)


.section-header 
	text-align: center
	padding-top: 66px
	font-size: 63px
	font-family: sansus_webissimoregular
	color: $textColor
	text-transform: uppercase
+underline(".section-header", 15px, 30px, $textColor)

+formStyle(".contact-block")

.contact-block-wrap
	margin-bottom: 70px
.contact-block
	background-color: rgba(224, 224, 220, 0.6)
	color: #566358
+underline(".contact-block__head", 22px, 30px, #566358)
+menuButtons(".contact-block__enter")
.contact-block__enter-list
	table-layout: fixed


@import "media"
