@import "mixins"

body, html
	height: 100%
	font-family: robotobold

* 
	box-sizing: border-box
img
	width: 100%
	height: auto
ul 
	list-style: none
	padding: 0

h1, h2, h3, ul
	margin: 0
a
	color: #FFFFFF
	text-decoration: none

.clearfix 
	&:after
		content: ""
		display: table
		clear: both
.hidden
	display: none

.container,
.main-header
	background-image: url("../img/bg-forest.jpg")
	background-size: cover
	color: #FFFFFF
.main 
	min-height: 100%
	margin: 0 auto -100px
	&:after
		content: ""
		display: block
		height: 100px
		margin-top: 20px
	&_works
		margin: 0 auto -185px
		&:after
			content: ""
			display: block
			height: 180px
			margin-top: 20px



.autorize-wrap 
	margin-bottom: 34px
	padding: 20px 
.autorize
	float: right
	&__text
		display: block
		border: 1px solid #FFFFFF
		border-radius: 50px
		padding: 0 27px
		font-size: 16px
		line-height: 43px
		font-family: "robotobold"
		transition: all 0.5s
		&:hover
			background: #4E8839
			border-color: #729E19

@import "menu-block"
@import "autorize-block"

.footer
	&__info
		
	&__copyright
		text-align: center
		font-weight: bold
		color: #D5DDD9
		font-size: 15px
		min-height: 100px
		&_works
			min-height: 40px
			background-color: rgba(108, 156, 90, 0.85)
			&:before
				content: ""
				display: inline-block
				vertical-align: middle
				height: 40px
	&__text
		display: inline-block
		padding: 0 5px
		border-left: 1px solid #D5DDD9
	&__begin 
		border-left: none
	&__info
		min-height: 145px
		background-color: rgba(55, 62, 66, 0.85)
		width: 100%
		display: table
		table-layout: fixed
		padding: 25px 0
		color: #FFFFFF
	&__info-block
		display: table-cell
		border-left: 1px solid #9B9FA1
		padding: 0 25px
	&__descr
		border-left: none
	&__list
		font-size: 0
	&__item
		font-size: 16px
		display: inline-block
		margin-left: 18px
		&_first
			margin-left: 0
	&__soc
		margin-bottom: 10px 
		margin-top: 30px




@import "media"