
h1.autorize-block__head Авторизуйтесь
.autorize-block__data.autorize-block__login
	input(type="text" placeholder="Логин" name="login").autorize-block__input-text
.autorize-block__data.autorize-block__password
	input(type="text" placeholder="Пароль" name="password").autorize-block__input-text
.autorize-block__data.autorize-block__check
	label <input type="checkbox" name="checking"> Я человек
.autorize-block__data.autorize-block__check-again
	.autorize-block__text Вы точно не робот?
	.autorize-block__choice1
		label <input type="radio" name="robot" value="yes"> Да
	.autorize-block__choice2
		label <input type="radio" name="robot" value="no"> Не уверен